@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --color0: #006885;
    --color1: #A1B6FA;
    --color2: #80f29159;
    --color3: #F2F2F2;
    --color4: #c50000;
    --color5: #d1d1d1;
    --color6: #81cce0;
    --color7: #2BAACE;

    --font0: 'Sora', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--color0);
    height: 50px;
    border-bottom: 1px solid white;
    padding: 0 10px; 
}

header > img {
    height: 40px;
    width: 100; 
    margin-right: 10px; 
}

header > div#usuario {
    display: flex;
    align-items: center; 
    color: white;
    margin-left: auto; 
}

header > div#usuario > p {
    margin-left: 5px; 
}

main {
    display: flex;
    height: calc(100vh - 50px);
    background-image: linear-gradient(to top, var(--color5) 80%, var(--color3));
}

main > section#section-menu {
    background-color: var(--color0);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

main > section#section-menu > nav {
    padding-top: 50px;
}

main > section#section-menu > nav > ul > li {
    padding-left: 10px;
    padding-top: 12px;
}

main > section#section-menu > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

main > section#section-menu > nav > ul > li > a:hover {
    color: black;
}

main > section#section-menu > a {
    margin-top: auto;
    padding-left: 10px;
    padding-bottom: 10px;
}

section#section-principal {
    display: flex;
    background-image: linear-gradient(to top, var(--color5) 80%, var(--color3));
    flex-grow: 1; 
    padding: 20px; 
    overflow-y: auto;
}

div#tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; 
    max-width: 80%; 
}

div#tabela > div#filtro {
    display: flex;
    justify-content: center;
    width: 100%;
}

div#tabela > div#filtro > fieldset {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

div#tabela > div#filtro > fieldset > form > label > input, option {
    margin-right: 10px;
}

div#tabela > div#filtro > fieldset > form > button {
    margin-left: auto;
    color: white;
    border-radius: 5px;
    border: none;
    height: 24px;
    width: 60px;
    cursor: pointer;
}

div#tabela > div#filtro > fieldset > form > button#limpar {
    background-color: var(--color4);
}

div#tabela > div#filtro > fieldset > form > button#filterButton {
    background-color: var(--color0);
}

div#dados {
    position: relative;
    overflow-x: auto;
}

div#dados > table {
    border-collapse: collapse;
    width: 1000px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

tbody td:nth-child(1) {
    color: blue;
}

tbody td:nth-child(1):hover {
    color: var(--color4);
}

.status-aprovado {
    background-color: rgba(0, 128, 0, 0.562);
    color: white;
}

.status-pendente {
    background-color: rgba(255, 255, 0, 0.514);
    color: black;
}

.status-reprovado {
    background-color: rgba(255, 0, 0, 0.589);
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

button#printButton{
    margin-top: 10px;
    background-color: var(--color0);
    border-radius: 5px;
    border: none;
    height: 24px;
    width: 60px;
    cursor: pointer;
}